<div class="modal fade" id="add-submission-sales">
    <div class="modal-dialog modal-xl">
      <div class="modal-content bg">
        <div class="modal-header">
          <h4 class="modal-title">Pengajuan Pembelian <span id="modalAddSubmit">Sales</span></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-primary">
                  <div class="card-body">
                      <div class="form-group row ">
                          <label for="lblJenis" class="col-sm-4 col-form-label">Impl Target</label>
                          <div class="col-sm-8 input-group date" id="simplementationdate" data-target-input="nearest">
                            <input type="text" class="form-control_ datetimepicker-input" data-target="#simplementationdate"/>
                            <div class="input-group-append" data-target="#simplementationdate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="form-group row">
                      <label for="nama" class="col-sm-4 col-form-label">Purchase Date</label>
                      <div class="col-sm-8 input-group date" id="spurchasedate" data-target-input="nearest">
                        <input type="text" class="form-control_ datetimepicker-input" data-target="#spurchasedate"/>
                        <div class="input-group-append" data-target="#spurchasedate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body">

                    </div>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card card-primary">
                  <div class="card-body">
                      <div class="form-group row">
                        <label for="nama" class="col-sm-4 col-form-label">Item Detail</label>
                        <div class="col-sm-8">
                            <select id="productdetail"></select>
                          </div>
                      </div>
                      <div class="form-group row">
                        <label for="nama" class="col-sm-4 col-form-label">Partnumber</label>
                        <div class="col-sm-8">
                            <input type="text" id="partnumber">
                          </div>
                      </div>
                      <div class="form-group row">
                        <label for="nama" class="col-sm-4 col-form-label">Brand</label>
                        <div class="col-sm-8">
                            <input type="text" id="brand">
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-primary">
                  <div class="card-body">
                    <div class="form-group row ">
                      <label for="subject" class="col-sm-4 col-form-label">Subject</label>
                      <div class="col-sm-8">
                        <input type="text" id="ssubject">
                      </div>
                    </div>
                    <div class="form-group row ">
                      <label for="spurchase_reason" class="col-sm-4 col-form-label">Purhcase Reason</label>
                      <div class="col-sm-8">
                        <input type="text" id="spurchase_reason" name="spurchase_reason">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="nama" class="col-sm-4 col-form-label">Amount</label>
                      <div class="col-sm-8">
                          <input type="number" id="samount" type="number" name="samount" value="1">
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnsSaveSubmission">Simpan</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  