<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pembelian | Catatan Developer</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <%- include('commons/leftnavbar') -%>
    
    <!-- Right navbar links -->
    <%- include('commons/rightnavbar') -%>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <%- include('commons/sidebarmenu') -%>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Simple Tables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Simple Tables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- /.row -->

        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Meter</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama</th>
                      <th>Tanggal</th>
                      <th>Status</th>
                      <th>Penjelasan</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Login</td>
                      <td>15-7-2024</td>
                      <td><span class="tag tag-success">Selesai</span></td>
                      <td>Dapat dipergunakan untuk login.</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Request Pembelian</td>
                      <td>11-7-2024</td>
                      <td><span class="tag tag-warning">Selesai</span></td>
                      <td>Detail dan parent tersimpan. Budgeting_Number terbentuk otomatis. Produk diambil dari odoo</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Verifikasi</td>
                      <td>11-7-2024</td>
                      <td><span class="tag tag-primary">Selesai</span></td>
                      <td>.</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Penambahan Pembanding</td>
                      <td>11-7-2024</td>
                      <td><span class="tag tag-danger">Selesai</span></td>
                      <td>.</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Penentuan harga final</td>
                      <td>11-7-2024</td>
                      <td><span class="tag tag-success">Selesai</span></td>
                      <td>.</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Penambahan Produk</td>
                      <td>11-7-2014</td>
                      <td><span class="tag tag-warning">Selesai</span></td>
                      <td>.</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>Restruktur Produk</td>
                      <td>11-7-2014</td>
                      <td><span class="tag tag-primary">Selesai</span></td>
                      <td>.</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td>Simulasi</td>
                      <td>11-7-2014</td>
                      <td><span class="tag tag-danger">Selesai</span></td>
                      <td>.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->

        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>
</body>
</html>
