.table>tbody>tr>td{
    padding:8px;
    line-height:1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    }
    .table th, .table td{
    display:table-cell;
    }
    body{
    margin:0px;
    background-color:#fff;
    }
    html{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    