<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <base href="/">

    <!-- Google Font: Source Sans Pro -->
    <link href="/assets/plugins/fontawesome-free/css/fonts.google.apis.css" />
    <!-- Font Awesome -->
    <link href="/assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/dist/css/adminlte.min.css">
    <link href="/assets/dist/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link href="/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

  </head>
