<div class="modal fade" id="add-FinalPrice">
    <div class="modal-dialog modal-xl">
      <div class="modal-content bg">
        <div class="modal-header">
          <h4 class="modal-title">Final Price <span id="modalAddFinalprice"></span></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="subject" class="col-sm-6 col-form-label">Subject</label>
                        <div class="col-sm-6"><label for="" id="fsubject"></label></div>
                      </div>
                      <div class="form-group row ">
                        <label for="submission_date" class="col-sm-6 col-form-label">Submission Date</label>
                        <div class="col-sm-6"><label for="" id="submission_date"></label></div>
                    </div>
                      <div class="form-group row ">
                          <label for="implementation_target" class="col-sm-6 col-form-label">Implementation Target</label>
                          <div class="col-sm-6"><label for="" id="implementation_target"></label></div>
                      </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="nama" class="col-sm-4 col-form-label">Purchase Target</label>
                        <div class="col-sm-8"><label for="" id="fpurchase_target"></label></div>
                      </div>
                      <div class="form-group row ">
                        <label for="subject" class="col-sm-4 col-form-label">Total Price</label>
                        <div class="col-sm-8"><label for="" id="ftotalprice"></label></div>
                        </div>
                      <div class="form-group row ">
                          <label for="lblJenis" class="col-sm-4 col-form-label">Staff Name</label>
                          <div class="col-sm-8"><label for="" id="fstaff_name"></label></div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="input-group">
                                <input type="text" class="form-control" id="finalprice" placeholder="Final Price After Nego">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnReject">Reject Submission</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSaveFinalPrice">Save Final Price</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  