<html>
    <head>
        <style>
            #maintable{
                width: 100%;
                border: 10px red dashed;
            }
            #maintable thead{
                width: 100%;
                overflow-x: hidden;
            }
            #maintable tbody{
                width: 100%;
                height: 100px;
                display: block;
                overflow-y: scroll;
            }        
        </style>
    </head>
    <body>
        <table id="maintable">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Nama</td>
                    <td>Grup</td>
                    <td>Keterangan</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td><td>Jojon</td><td>Guru Lawak</td><td>Senior</td>
                </tr>
                <tr>
                    <td>2</td><td>Tessy</td><td>Sekuriti</td><td>Magang</td>
                </tr>
                <tr>
                    <td>3</td><td>Tarzan</td><td>Sekuriti</td><td>Senior</td>
                </tr>
                <tr>
                    <td>4</td><td>Asmuni</td><td>Kepsek</td><td>Senior</td>
                </tr>
                <tr>
                    <td>5</td><td>Jujuk</td><td>BP</td><td>Senior</td>
                </tr>
                <tr>
                    <td>6</td><td>Klowor</td><td>Guru Lawak</td><td>Magang</td>
                </tr>
                <tr>
                    <td>7</td><td>Kampret</td><td>Guru Lawak</td><td></td>
                </tr>
                <tr>
                    <td>8</td><td>Betet</td><td>Guru Lawak</td><td></td>
                </tr>
                <tr>
                    <td>9</td><td>Paul</td><td>Guru Lawak</td><td></td>
                </tr>
                <tr>
                    <td>10</td><td>Polo</td><td>Guru Lawak</td><td></td>
                </tr>
                <tr>
                    <td>11</td><td>Gepeng</td><td>Guru Lawak</td><td></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>